*{
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    font-size: 50px;
    text-align: center;
}
.flex-itme-1{
    background-color: aqua;
    padding: 10px;
    flex: 25%;
}
.flex-itme-2{
    background-color: rgb(29, 245, 58);
    padding: 10px;
    flex: 25%;
}
.flex-itme-3{
    background-color: rgb(245, 133, 29);
    padding: 10px;
    flex: 25%;
}
.flex-itme-4{
    background-color: rgb(245, 29, 191);
    padding: 10px;
    flex: 25%;
}

@media(max-width:500px){
    .flex-container{
        flex-wrap: wrap;
    }
}